{% extends "base.html.twig" %}

{% block title %}Homepage - Investment Club{% endblock %}

{% block content %}
    <div class="stock-card"></div>
    <div class="stock-card"></div>
    <div class="stock-card"></div>
{% endblock %}
