<!DOCTYPE html>
<head>
    <title>{% block title %}Stock Website{% endblock %}</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="homePageStyles.css">
</head>
<body>
    {% include 'login.html' %}
    {% include 'adminPage.html' %}
    {% include 'presentations.html' %}
    <div class="sidebar">
        <img src="Inv_Logo.png" alt="Investment Club Logo">
    </div>
    <div class="content">
        <header>
            <h1>{% block header %}Investment Club{% endblock %}</h1>
        </header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Transaction</a>
            <a href="#">About</a>
            <a href="#">Presentations</a>
        </nav>
</body>
</html>
