<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Stock Website{% endblock %}</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="homePageStyles.css">
</head>
<body>
    {% include 'sidebar.html' %}
    <div class="content">
        <header>
            <h1>{% block header %}Investment Club{% endblock %}</h1>
        </header>
        {% include 'navbar.html' %}
        <div class="container">
            <h2>{% block header %}Welcome, Investment Club!{% endblock %}</h2>
            
            {% if not user.is_authenticated %}
                {% include 'login_form.html' %}
            {% else %}
                {% include 'transactions_form.html' %}
                {% include 'presentations_form.html' %}
                {% if user.is_admin %}
                    {% include 'admin_form.html' %}
                {% endif %}
                {% include 'logout_form.html' %}
            {% endif %}
            
            <div class="stock-card">
                {% block content %}{% endblock %}
            </div>
            <div class="stock-card">
                {% block content %}{% endblock %}
            </div>
            <div class="stock-card">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
