<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Stock Website{% endblock %}</title>
    <link rel="stylesheet" href="homePageStyles.css" />
  </head>
  <body>
    <div class="sidebar">
      <img src="Inv_Logo.png" alt="Investment Club Logo" />
    </div>
    <div class="content">
      <header>
        <h1>{% block header %}Investment Club{% endblock % }</h1>
      </header>
      <nav>
        <a href="index.php">Home</a>
        <a href="index.php?action=transactions">Transaction</a>
        <a href="#">About</a>
        <a href="index.php?action=presentations">Presentations</a>
      </nav>
      <div class="container">
        <h2>{% block subheader %}Welcome, Investment Club!{% endblock %}</h2>

        {% if not user.is_authenticated %}
        <form action="index.php?action=login" method="post">
          <input type="submit" value="Login" />
        </form>
        {% else %}
        <form action="index.php?action=transactions" method="post">
          <input type="submit" value="See Transactions" />
        </form>
        <form action="index.php?action=presentation" method="post">
          <input type="submit" value="Presentations" />
        </form>
        {% if user.is_admin %}
        <form action="index.php?action=admin" method="post">
          <input type="submit" value="Admin Panel" />
        </form>
        {% endif %}
        <form action="logout.php" method="post">
          <input type="submit" value="Logout" />
        </form>
        {% endif %}

        <div class="stock-card">
          {% block content1 %}
          <!-- Stock Card content 1 -->
          {% endblock %}
        </div>
        <div class="stock-card">
          {% block content2 %}
          <!-- Stock Card content 2 -->
          {% endblock %}
        </div>
        <div class="stock-card">
          {% block content3 %}
          <!-- Stock Card content 3 -->
          {% endblock %}
        </div>
      </div>
      <footer>
        <p>
          {% block footer %}&copy; 2025 Stock Tracker. All rights reserved.{%
          endblock %}
        </p>
      </footer>
    </div>
  </body>
</html>
