{% include 'header.html.twig' %}

<div class="container mt-5">
    <div class="text-center">
        {% block content %}
        <h1 class="mb-4 text-primary">Welcome to the Investment Club Website!</h1>
        {% if user.is_admin %}
        <a href="edit">Edit About Page</a> |
        {% endif %}
        
        {% endblock %}
    </div>
</div>

{% include 'footer.html.twig' %}
