{% include 'header.html.twig' %} 
        <header>
            <h1>{% block header %}About Us{% endblock %}</h1>
        </header>

        <div class="container">
            {% block content %}
            <p>Welcome to the Investment Club!</p>
            <p>The mission of the Muskingum University Investment Club is to provide students with an educational experience in the areas of equity analysis, portfolio management, and market research. <br>Students will build financial skill sets not learned in a traditional curriculum and can expect an open forum environment where they can learn from one another.<br>Our purpose is to provide a place of gathering where like-minded students can come to share a love of the financial markets and develop skill sets that will be applicable to careers in finance and business.</p>
            {% endblock %}
        </div>
{% include 'footer.html.twig' %}