<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Returning User{% endblock %}</title>
	<link rel="stylesheet" href="homePageStyles.css">
</head>
<body>
<div>
	<h1>{% block header %}User Login{% endblock %}</h1>
	<form action="doform.php" method="POST">
 	Username: <input type="text" name="username"><br>
 	Password: <input type="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
	
<br>
<form action="controller.php" method="post">
	<input type="submit" value="Continue as Guest">
</form>
</div> 
</body>
</html>
